@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body, kbd{
  height: 100%;
  width: 100%;
  font-family: 'Helvetica-light', sans-serif !important;
  text-transform: uppercase;
}

.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}

.navlink {
  font-size: 1.1em !important;
}

.navbar #branding h1 {
  letter-spacing: 10px;
  font-size: 35px;
}
.dropdown-menu a{
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu {
  color: #ffffff;
  background-color:rgba(0,0,0,0.3);
}

.dropdown-menu a:hover{
  background-color: #a9a9a9;

}
.carousel-inner #indexcar img {
  width: 100%;
  height: 100%;
}
#theat {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* New */

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active{
      opacity:0.4;
    }
    .carousel-inner .active + .carousel-item + .carousel-item {
      opacity:0.4;
    }
    .carousel-inner .active ,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {

        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left +
    .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
/* New End */
.carousel-caption {
  position:absolute;
  top: 6%;
  transform: translateY(-78%);
  transform: translateX(0%);
}
.centered {
  object-fit: none;
  object-position: center;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;

}

.centered a{
  color: white;
  text-decoration: none;
}
.card {
  overflow: hidden;
}

.container #theatertop{
  padding-left: 150px;
  padding-top: 20px;
  font-family: 'Helvetica-neue', sans-serif;
}
.caption{
  background: rgb(170, 187, 97); /* Fallback */
   background: rgba(0, 0, 0, 1);
  color:white;
  letter-spacing: 10px;
  font-size: 1.4rem;
  position: static;
    top: 45%;
    left: 70%;
    width: 100%;
}

.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
.dropdown-menu hr.light {
  width: 100%;
  padding-bottom: -10px;
  margin-bottom: 0px;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 85%;
  margin-top: 0;
  margin-bottom: 1rem;
}
.fa-linkedin {
  margin-bottom: 15px;
  font-size: 2em;
  color: #0077B5;
}
.fa-linkedin:hover{
  color: #d5d5d5;
}
.row #footerbar{
  margin-top: -30px;
}






/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
